.personalInfo-container {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 18px;
  gap: 12px;

  .avatar-container {
    width: 131px;
    height: 131px;
    background-color: #ccc;
    img {
      width: inherit;
    }
  }
  .info-container {
    flex: 1;
    .top-info {
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      align-items: end;
      gap: 8px;
    }
    .bottom-info {
      margin-top: 8px;

      display: flex;
      flex-direction: column;
      gap: 8px;

      .info-details {
        align-items: flex-start;
        gap: 8px;

        :nth-child(2) {
          flex: 1;
        }
      }
    }
  }
}
