#main {
  display: flex;
  height: 100%;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    .main-header {
      position: fixed;
      height: 60px;
      padding-right: 20px;
      width: calc(100% - 256px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: #001529;;
    }
    .layout-wrapper {
      padding: 12px 20px;
      margin-top: 60px;
      background-color: #fafafa;
      min-height: calc(100% - 60px);
    }
  }
}