#main {
  display: flex;
  height: 100%;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    .main-header {
      position: fixed;
      height: 60px;
      width: calc(100% - 240px);
      background-color: #F4F6F8;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .layout-wrapper {
      padding: 12px 20px;
      margin-top: 60px;
      background-color: #F4F6F8;
      min-height: calc(100% - 60px);
      width: 100%;
      .main-wrapper {
        background-color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        // padding: 12px;
        overflow: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }

  #main-sidebar {
    min-height: 100vh;
    .sidebar-top {
      height: 100%;
      .sidebar-menu {
        padding-top: 12px;
      }
    }
  }
}